@font-face {
    font-family: Vazir;
    src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot?#iefix') format('embedded-opentype'),
        url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.woff') format('woff'),
        url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.ttf') format('truetype');
    font-weight: normal;
}  

p,li span,h1,h2,button,.tb-cell a{
    font-family: Vazir !important; 
}
.mini_ {
    width: 25% !important;
    float: right;
}
.awe-btn.awe-search{
    border-color: #fff !important; 
}
.bg-1 {
    background: #e6e6e6 !important; 
}


/******* select2 RTL  by kiamoz  ***********/

input.select2-search__field, li.select2-search.select2-search--inline {
    width: 100% !important;
}

ul#select2-user-tahsilat-results,.span#select2-user-tahsilat-container {
    text-align: right;
}
span.select2-selection__clear {
    left: 13px;
    right: unset !important;
    position: absolute;
}
.select2-selection span ,.select2-results__options li,.select2-search__field{
    font-family: tahoma;
        direction: rtl;
}
.select2-container{
    text-align: right;
}
.select2-container .select2-search--inline {
    float: right;
}
li.select2-selection__choice {
    direction: rtl;
}
.select2-selection__clear {
    color: red !important;
    opacity: 1 !important;
}
#attach_x + span {
    display: none;
}
.select2-container--krajee .select2-search--dropdown .select2-search__field{
    padding-right: 30px;
}
/******* select2 RTL  by kiamoz  ***********/


ul.tabs-cat.text-center.row {
    display: table;
    margin: 0 auto;
}
.tabs-cat .cate-item{
    width: 150px;
}

.bg-1 {
    background: #e6e6e6 !important; 
}
.tabs-cat .cate-item span {
    color: #4acff2;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}

.nav-inner {
    background: #cecece !important;
}
.nav {
    width: 262px !important;
}
.nav ul li.current-menu-parent{
    background:  unset   !important;
    
}
.nav ul li.current-menu-parent a{
    color: black;
    
}

.tb-cell  li{
    float: right;
    text-align: right;
}
.nav ul li a{
    font-size: 18px;
}
p{
    direction: rtl;
    text-align: justify;
}
h2{
    text-align: right;
}

button.btn.btn-success.b1 {
    position: relative;
    top: 22px;
    left: 10px;
}
button.btn.btn-success.b1 i {
    position: relative;
    top: 1px;
    left: 0px;
}